<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/footer.js}" src="../static/js/footer.js"></script>
    <title>Change Password</title>
</head>
<body>
<header>
    <div th:replace="~{Navigation :: NavigationBar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../Index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Change Password</h1>
    <p class="message">Enter your new password twice</p>
    <form th:object="${pcform}"
          action="PasswordChanged.html" th:action="@{update-password}"
          method="post">
        <p>
            <label for="currentPassword" class="group-label">Current Password</label>
            <input id="currentPassword" th:field="*{currentPassword}" type="password">
            <span th:if="${#fields.hasErrors('currentPassword')}"
                  class="error">&larr;&nbsp;<span th:errors="*{currentPassword}">Current Password Error</span></span>
        </p>
        <p>
            <label for="newPassword1" class="group-label">New Password</label>
            <input id="newPassword1" th:field="*{newPassword1}" type="password">
            <span th:if="${#fields.hasErrors('newPassword1')}"
                  class="error">&larr;&nbsp;<span th:errors="*{newPassword1}">New Password 1 Error</span></span>
        </p>
        <p>
            <label for="newPassword2" class="group-label">New Password</label>
            <input id="newPassword2" th:field="*{newPassword2}" type="password">
            <span th:if="${#fields.hasErrors('newPassword2')}"
                  class="error">&larr;&nbsp;<span th:errors="*{newPassword2}">New Password 2 Error</span></span>
        </p>
        <p>
            <input type="submit" value="Change Password">
        </p>
    </form>
</main>
</body>
</html>
