<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/footer.js}" src="../static/js/footer.js"></script>
    <title>Delete User</title>
</head>
<body>
<header>
    <div th:replace="~{Navigation :: NavigationBar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../Index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Delete User</h1>
    <p class="message">
        Do you really want to remove <span th:text="${user}" class="user">simpson</span> user account?
    </p>
    <form action="ListUsers.html" th:action="@{remove-user}" method="post">
        <input type="hidden" name="login" th:value="${user}">
        <p>
            <input type="submit" value="Delete User">
        </p>
    </form>
    <p>
        <a href="ListUsers.html" th:href="@{list-users}">List Users</a>
    </p>
</main>
</body>
</html>
