<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/footer.js}" src="../static/js/footer.js"></script>
    <title>Edit Record</title>
</head>
<body>
<header>
    <div th:replace="~{Navigation :: NavigationBar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="Index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Edit Record</h1>
    <form method="post"
          th:action="@{/students/update-student}" action="StudentDetails.html"
          th:object="${student}">
        <div th:if="${#fields.hasErrors('*')}">
            <h3 class="error">Input Errors</h3>
            <ul>
                <li th:each="e: ${#fields.errors('*')}" th:text="${e}"
                    class="error">Input Error</li>
            </ul>
        </div>
        <input type="hidden" th:field="*{id}">
        <h2>Student Name</h2>
        <p>
            <label for="first" class="group-label">First Name</label><br>
            <span th:if="${#fields.hasErrors('firstName')}">
                <span class="error" th:errors="*{firstName}">First Name Error</span><br>
            </span>
            <input id="first" type="text" th:field="*{firstName}" value="Bart"/>
        </p>
        <p>
            <label for="last" class="group-label">Last Name</label><br>
            <span th:if="${#fields.hasErrors('lastName')}">
                <span class="error" th:errors="*{lastName}">Last Name Error</span><br>
            </span>
            <input id="last" type="text" th:field="*{lastName}" value="Simpson"/>
        </p>
        <h2>Student Info:</h2>
        <p>
            <label for="prog" class="group-label">Program</label><br>
            <select id="prog" th:field="*{program.id}">
                <option th:each="p: ${programs}"
                        th:value="${p.id}" th:text="${p.programName}">Program Name</option>
            </select>
        </p>
        <p>
            <label><input type="checkbox" th:field="*{international}" th:value="yes"/>&nbsp;International</label>
        </p>
        <p>
            <label class="group-label">Year</label><br>
            <label><input type="radio" th:field="*{programYear}" th:value="1">&nbsp;1</label>
            <label><input type="radio" th:field="*{programYear}" th:value="2">&nbsp;2</label>
            <label><input type="radio" th:field="*{programYear}" th:value="3">&nbsp;3</label>
        </p>
        <p>
            <label class="group-label">Options</label><br>
            <label><input type="checkbox" th:field="*{programCoop}" th:value="yes"/>&nbsp;Co-op</label>
        </p>
        <p>
            <input type="reset" value="Clear"/>
            <input type="submit" value="Send"/>
        </p>
    </form>
    <ul>
        <li><a href="StudentsIndex.html" th:href="@{/students/index}">Students</a></li>
        <li><a href="ListStudents.html" th:href="@{/students/list-students}">List Students</a></li>
    </ul>
</main>
</body>
</html>
