<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/footer.js}" src="../static/js/footer.js"></script>
    <title>Users</title>
</head>
<body>
<header>
    <div th:replace="~{Navigation :: NavigationBar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../Index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Users</h1>
    <ul>
        <li>
            <a th:href="@{add-user}" href="AddUser.html">Add User</a>
        </li>
        <li>
            <a th:href="@{list-users}" href="ListUsers.html">List Users</a>
        </li>
        <li>
            <a th:href="@{/students/index}" href="../students/Index.html">Students</a>
        </li>
        <li>
            <a th:href="@{/password/change-password}"
               href="../passwords/ChangePassword.html">Change Password</a>
        </li>
        <li>
            <a th:href="@{/logout}" href="../Index.html">Logout</a>
        </li>
    </ul>
</main>
</body>
</html>
